MSSQL_SA_PASSWORD=CHANGE_ME

DB_NAME=CakeManagementDb

ADMIN_EMAIL=CHANGE_ME
ADMIN_PASSWORD=CHANGE_ME
ADMIN_PHONE=CHANGE_ME
ADMIN_ADDRESS=CHANGE_ME

JWT_KEY=CHANGE_ME
JWT_ISSUER=CakeManagementAPI
JWT_AUDIENCE=CakeManagementClient
JWT_EXPIRES_MINUTES=3600